body{
background-image: linear-gradient(rgb(0, 0, 0), rgb(79, 0, 226));
background-repeat: no-repeat;
background-attachment: fixed;
}

button{
    background-color: rgba(0, 3, 5, 0);
    border: solid white;
    transition-duration: 0.4;
    color: white;
    padding-inline: 40px;


}

button:hover{
    background-color: rgb(255, 255, 255);
    border: solid black;
    color: black;

}

h1{
    color: rgb(255, 255, 255);
    text-align: center;
    text-shadow: 0 0 5px rgb(255, 0, 0), 0 0 5px rgb(0, 0, 0);
    border-style: inset;
    font-family: "Orbitron", sans-serif;
    font-size: 60px;
    margin-left: 50px;
    margin-right: 50px;
    
}

a{
    color: rgb(255, 255, 255);
    font-size: 20px;
    transition-duration: 0.4;

}

a:hover{
    color: black;
}

p, li{
    color: white;
}

h2{
    border-style: ridge;
    font-weight: 9;
    font-family: "Orbitron", sans-serif;
    text-indent: 5%;
    text-shadow: 0 0 5px rgb(255, 0, 0), 0 0 10px black;
    color: white;
    text-align: center;
    padding: 10px;
    margin-left: 250px;
    margin-right: 250px;

    
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-style: double;
    border-width: 5px;
    border-color: bisque;
    height: 300px;
    width: auto;

}

strong{
    font-size: 20px;
    display:block;
    padding: auto;
    margin-top: 10px;
    text-shadow: 1px 2px 10px black;
  
}
 

ul{
text-align: center;
list-style-type: none;
}

